<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAblwgjsyNWuDtm1GFRnO4OqsWqT_B3G8A</string>
	<key>GCM_SENDER_ID</key>
	<string>309940397515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moviemioApp</string>
	<key>PROJECT_ID</key>
	<string>moviemio-app</string>
	<key>STORAGE_BUCKET</key>
	<string>moviemio-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309940397515:ios:4730895756b32caab3c24e</string>
</dict>
</plist>